@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.quotes {
  @apply flex flex-col items-center p-20;
}

.quote {
  @apply pt-12 flex flex-col gap-3;
}

blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-700;
}

.quote p {
  @apply text-right text-sm text-gray-500;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    @apply border-gray-600 text-gray-300;
  }
  .quote p {
    @apply text-gray-400;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
